@media (max-width: 767px) {
    .product-image-small {
        height: 100vw;
        width: 100%
    }
}

@media (max-width: 767) {
    .form-ctn {
        display: none;
    }
}

.description {
    text-align: justify;
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 10px;
}

.button {
    text-align: center;
}